.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    text-align: center;

}

.cardDiv{
    border: 1px solid black;
    padding: 20px;
}

.pimages{
    width: 70%;
   
    /* border: 1px solid red; */
}

.teamDetailsBtn{
    padding: 8px;
    width: 120px;
    background-color: rgb(149, 241, 149);
    font-size: 14px;
    border-radius: 5px;

}

.search{
    width: 160px;
    padding: 10px;
    border: 1px solid teal;
}

.searchBtn{
    width: 100px;
    padding: 10px;
    border: 1px solid teal;
    border-radius: 5px;
}